<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{LOGO}}</title>

    <!-- Bootstrap core CSS -->
	<link href="libs/bootstrap.min.css" rel="stylesheet">
	<script src="libs/jquery.min.js"></script>
  <script src="libs/bootstrap.bundle.min.js"></script>
  </head>
  <body>
	<div class="dark text-right small bg-primary p-0 m-0">
		<div class="container">
		
		<div class="btn-group">
			{{JEZIK}}
			{{LOGIN}}
		</div>
		</div>
    </div>