
{{PRICE1}}
<style>
.col {
     text-align: center;
	 border: 0.5px solid black;
	 padding: 15px;
 }

 .col-md-4{
    border: 0.5px solid black;
    padding: 0px;
 }

 .row .col-md-4:nth-child(1) {
     padding: 40px 150px;
 }
 
</style>

<div class="container" style="width:1300px; margin-top: 25px;border-style: solid;">
    <div class="row">
       {{PRICE2}}
    </div>

    <div class="row">
        <div class="col-md-4">{{TYPE1}}</div>
        <div class="col-md-4">
            <div class="col ">{{PRICE3}}</div>
            <div class="col ">{{PRICE4}}</div>
        </div>
        <div class="col-md-4">
            <div class="col ">150 RSD</div>
            <div class="col ">100 RSD</div>
        </div>
    </div>

    <div class="row">
    <div class="col-md-4">{{TYPE2}}</div>
        <div class="col-md-4">
           <div class="col ">{{PRICE3}}</div>
            <div class="col ">{{PRICE4}}</div>
        </div>
        <div class="col-md-4">
            <div class="col ">250 RSD</div>
            <div class="col ">200 RSD</div>
        </div>
    </div>

</div>