
<div>
{{STATS}}
</div>
<div id="chart_div" style="width: 1000px; height: 500px;"></div>
 <table class="columns">
      <tr>
        <td><div id="nivoi" style="border: 1px solid #ccc"></div></td>
        <td><div id="korisnici" style="border: 1px solid #ccc; width: 500px; height: 300px;"></div></td>
      </tr>
 </table>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" >

    var zauzetostDnevnoSektori = new Array();
    var zauzetostDnevnoNivoi = new Array();
    //var tipKlijentaGodisnje = new Array();

    $.ajax({
        type: "POST",
        url: "./core/stats.php"
    }).done(function(msg) {
        // treba jos doraditi, ima gresaka
        alert(msg);
        zauzetostDnevnoSektori = msg.zauzetostDnevnoSektori;
        zauzetostDnevnoNivoi = msg.zauzetostDnevnoNivoi;

	});

    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(histogram);  
    google.charts.setOnLoadCallback(nivoi);
    google.charts.setOnLoadCallback(korisnici);
    
    function histogram() {
        var data = google.visualization.arrayToDataTable([
            ['Mesto', 'Zauzetost'],
            ['Sektor A1', zauzetostDnevnoSektori[0][1]],
            ['Sektor A10', zauzetostDnevnoSektori[1][1]],
            ['Sektor A11', zauzetostDnevnoSektori[2][1]],
            ['Sektor A12', zauzetostDnevnoSektori[3][1]],
            ['Sektor A2', zauzetostDnevnoSektori[4][1]],
            ['Sektor A3', zauzetostDnevnoSektori[5][1]],
            ['Sektor A4', zauzetostDnevnoSektori[6][1]],
            ['Sektor A5', zauzetostDnevnoSektori[7][1]],
            ['Sektor A6', zauzetostDnevnoSektori[8][1]],
            ['Sektor A7', zauzetostDnevnoSektori[9][1]],
            ['Sektor A8', zauzetostDnevnoSektori[10][1]],
            ['Sektor A9', zauzetostDnevnoSektori[11][1]],
            ['Sektor B1', zauzetostDnevnoSektori[12][1]],
            ['Sektor B10', zauzetostDnevnoSektori[13][1]],
            ['Sektor B11', zauzetostDnevnoSektori[14][1]],
            ['Sektor B12', zauzetostDnevnoSektori[15][1]],
            ['Sektor B2', zauzetostDnevnoSektori[16][1]],
            ['Sektor B3', zauzetostDnevnoSektori[17][1]],
            ['Sektor B4', zauzetostDnevnoSektori[18][1]],
            ['Sektor B5', zauzetostDnevnoSektori[19][1]],
            ['Sektor B6', zauzetostDnevnoSektori[20][1]],
            ['Sektor B7', zauzetostDnevnoSektori[21][1]],
            ['Sektor B8', zauzetostDnevnoSektori[22][1]],
            ['Sektor B9', zauzetostDnevnoSektori[23][1]],
            ['Sektor C1', zauzetostDnevnoSektori[24][1]],
            ['Sektor C10', zauzetostDnevnoSektori[25][1]],
            ['Sektor C11', zauzetostDnevnoSektori[26][1]],
            ['Sektor C12', zauzetostDnevnoSektori[27][1]],
            ['Sektor C2', zauzetostDnevnoSektori[28][1]],
            ['Sektor C3', zauzetostDnevnoSektori[29][1]],
            ['Sektor C4', zauzetostDnevnoSektori[30][1]],
            ['Sektor C5', zauzetostDnevnoSektori[31][1]],
            ['Sektor C6', zauzetostDnevnoSektori[32][1]],
            ['Sektor C7', zauzetostDnevnoSektori[33][1]],
            ['Sektor C8', zauzetostDnevnoSektori[34][1]],
            ['Sektor C9', zauzetostDnevnoSektori[35][1]],
            ['Sektor D1', zauzetostDnevnoSektori[36][1]],
            ['Sektor D10', zauzetostDnevnoSektori[37][1]],
            ['Sektor D11', zauzetostDnevnoSektori[38][1]],
            ['Sektor D12', zauzetostDnevnoSektori[39][1]],
            ['Sektor D2', zauzetostDnevnoSektori[40][1]],
            ['Sektor D3', zauzetostDnevnoSektori[41][1]],
            ['Sektor D4', zauzetostDnevnoSektori[42][1]],
            ['Sektor D5', zauzetostDnevnoSektori[43][1]],
            ['Sektor D6', zauzetostDnevnoSektori[44][1]],
            ['Sektor D7', zauzetostDnevnoSektori[45][1]],
            ['Sektor D8', zauzetostDnevnoSektori[46][1]],
            ['Sektor D9', zauzetostDnevnoSektori[47][1]],
        ]);

        var options = {
            title: 'PROSECNA ZAUZETOST NA DNEVNOM NIVOU (PO SEKTORIMA)',
            legend: { position: 'none' },
        };

        var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
        chart.draw(data, options);
    }

    function nivoi() {

        // Google data set
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
            ['Nivo 0', zauzetostDnevnoNivoi[0][1]],
            ['Nivo 1', zauzetostDnevnoNivoi[1][1]],
            ['Nivo 2', zauzetostDnevnoNivoi[2][1]],
            ['Nivo 3', zauzetostDnevnoNivoi[3][1]]
        ]);

        var options = {title:'PROSECNA ZAUZETOST NA DNEVNOM NIVOU (PO NIVOIMA)',
                        width:500,
                        height:400};

        var chart = new google.visualization.PieChart(document.getElementById('nivoi'));
        chart.draw(data, options);
    }

    function korisnici() {
        var data = google.visualization.arrayToDataTable([
            ['Godina', 'Fizicko', 'Pravno'],
            ['Jan',  100,      40],
            ['Feb',  117,      40],
            ['Mar',  66,       120],
            ['Apr',  10,      200]
        ]);

        var options = {
            title: 'ZAUZETOST PO TIPU KLIJENTA (2018. godina)',
            hAxis: {title: 'Godina',  titleTextStyle: {color: '#333'}},
            vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('korisnici'));
        chart.draw(data, options);
    }

 </script>