
<div>
{{STATS}}
IZMISLJENI PODACI
</div>
<div id="chart_div" style="width: 1000px; height: 500px;"></div>
 <table class="columns">
      <tr>
        <td><div id="nivoi" style="border: 1px solid #ccc"></div></td>
        <td><div id="korisnici" style="border: 1px solid #ccc width: 500px; height: 300px;"></div></td>
      </tr>
 </table>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(histogram);  
      google.charts.setOnLoadCallback(nivoi);
      google.charts.setOnLoadCallback(korisnici);
function histogram() {
    var data = google.visualization.arrayToDataTable([
        ['Mesto', 'Zauzetost'],
        ['Sektor A1', 1],
        ['Sektor A3', 4],
        ['Sektor A4', 12],
        ['Sektor A5', 20],
        ['Sektor B1', 3],
        ['Sektor B3', 1],
        ['Sektor B4', 0],
        ['Sektor B5', 2],
	    ['Sektor C1', 11],
        ['Sektor C3', 5],
        ['Sektor C4', 2],
        ['Sektor C5', 2],
		['Sektor D1', 1],
        ['Sektor D3', 3],
        ['Sektor D4', 12],
        ['Sektor D5', 20]]);

    var options = {
        title: 'AVG ZAUZETOST NA DNEVNOM NIVOU',
        legend: { position: 'none' },
    };

    var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
    chart.draw(data, options);
    }

function nivoi() {

    // Google data set
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Topping');
    data.addColumn('number', 'Slices');
    data.addRows([
        ['Nivo 0', 1],
        ['Nivo 1', 1],
        ['Nivo 2', 2],
        ['Nivo 3', 2]
    ]);

    var options = {title:'ZAUZETOST NA DNEVNOM NIVOU',
                    width:500,
                    height:400};

    var chart = new google.visualization.PieChart(document.getElementById('nivoi'));
    chart.draw(data, options);
    }

function korisnici() {
    var data = google.visualization.arrayToDataTable([
        ['Godina', 'Fizicka', 'Pravna'],
        ['2015',  100,      40],
        ['2016',  117,      40],
        ['2017',  66,       120],
        ['2018',  10,      200]
    ]);

    var options = {
        title: 'Tipovi klijenta',
        hAxis: {title: 'Godina',  titleTextStyle: {color: '#333'}},
		vAxis: {minValue: 0}
    };

    var chart = new google.visualization.AreaChart(document.getElementById('korisnici'));
    chart.draw(data, options);
 }
 </script>