
<div>
{{STATS}}
IZMISLJENI PODACI
</div>
<div id="chart_div" style="width: 1000px; height: 500px;"></div>
 <table class="columns">
      <tr>
        <td><div id="nivoi" style="border: 1px solid #ccc"></div></td>
        <td><div id="korisnici" style="border: 1px solid #ccc; width: 500px; height: 300px;"></div></td>
      </tr>
 </table>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    var zauzetostDnevnoSektori = new Object();
    var zauzetostDnevnoNivoi = new Object();
    //var tipKlijentaGodisnje = new Object();

    $.ajax({
        type: "POST",
        url: "./core/stats.php"
    }).done(function(msg) {
        // obrada json nizova
        // treba jos doraditi, ima gresaka
        alert(msg);
        zauzetostDnevnoSektori = msg.zauzetostDnevnoSektori;
        zauzetostDnevnoNivoi = msg.zauzetostDnevnoNivoi;

	});

    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(histogram(zauzetostDnevnoSektori));  
    google.charts.setOnLoadCallback(nivoi(zauzetostDnevnoNivoi));
    google.charts.setOnLoadCallback(korisnici);
    
    function histogram(podaci) {
        var data = google.visualization.arrayToDataTable([
            ['Mesto', 'Zauzetost'],
            ['Sektor A1', podaci[0][1]],
            ['Sektor A10', podaci[1][1]],
            ['Sektor A11', podaci[2][1]],
            ['Sektor A12', podaci[3][1]],
            ['Sektor A2', podaci[4][1]],
            ['Sektor A3', podaci[5][1]],
            ['Sektor A4', podaci[6][1]],
            ['Sektor A5', podaci[7][1]],
            ['Sektor A6', podaci[8][1]],
            ['Sektor A7', podaci[9][1]],
            ['Sektor A8', podaci[10][1]],
            ['Sektor A9', podaci[11][1]],
            ['Sektor B1', podaci[12][1]],
            ['Sektor B10', podaci[13][1]],
            ['Sektor B11', podaci[14][1]],
            ['Sektor B12', podaci[15][1]],
            ['Sektor B2', podaci[16][1]],
            ['Sektor B3', podaci[17][1]],
            ['Sektor B4', podaci[18][1]],
            ['Sektor B5', podaci[19][1]],
            ['Sektor B6', podaci[20][1]],
            ['Sektor B7', podaci[21][1]],
            ['Sektor B8', podaci[22][1]],
            ['Sektor B9', podaci[23][1]],
            ['Sektor C1', podaci[24][1]],
            ['Sektor C10', podaci[25][1]],
            ['Sektor C11', podaci[26][1]],
            ['Sektor C12', podaci[27][1]],
            ['Sektor C2', podaci[28][1]],
            ['Sektor C3', podaci[29][1]],
            ['Sektor C4', podaci[30][1]],
            ['Sektor C5', podaci[31][1]],
            ['Sektor C6', podaci[32][1]],
            ['Sektor C7', podaci[33][1]],
            ['Sektor C8', podaci[34][1]],
            ['Sektor C9', podaci[35][1]],
            ['Sektor D1', podaci[36][1]],
            ['Sektor D10', podaci[37][1]],
            ['Sektor D11', podaci[38][1]],
            ['Sektor D12', podaci[39][1]],
            ['Sektor D2', podaci[40][1]],
            ['Sektor D3', podaci[41][1]],
            ['Sektor D4', podaci[42][1]],
            ['Sektor D5', podaci[43][1]],
            ['Sektor D6', podaci[44][1]],
            ['Sektor D7', podaci[45][1]],
            ['Sektor D8', podaci[46][1]],
            ['Sektor D9', podaci[47][1]],
        ]);

        var options = {
            title: 'PROSECNA ZAUZETOST NA DNEVNOM NIVOU (PO SEKTORIMA)',
            legend: { position: 'none' },
        };

        var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
        chart.draw(data, options);
    }

    function nivoi(podaci) {

        // Google data set
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
            ['Nivo 0', podaci[0][1]],
            ['Nivo 1', podaci[1][1]],
            ['Nivo 2', podaci[2][1]],
            ['Nivo 3', podaci[3][1]]
        ]);

        var options = {title:'PROSECNA ZAUZETOST NA DNEVNOM NIVOU (PO NIVOIMA)',
                        width:500,
                        height:400};

        var chart = new google.visualization.PieChart(document.getElementById('nivoi'));
        chart.draw(data, options);
    }

    function korisnici() {
        var data = google.visualization.arrayToDataTable([
            ['Godina', 'Fizicka', 'Pravna'],
            ['Jan',  100,      40],
            ['Feb',  117,      40],
            ['Mar',  66,       120],
            ['Apr',  10,      200]
        ]);

        var options = {
            title: 'Tipovi klijenta (2018. godina)',
            hAxis: {title: 'Godina',  titleTextStyle: {color: '#333'}},
            vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('korisnici'));
        chart.draw(data, options);
    }

 </script>